body {
    background: #ede3c7;
}

.main-text {
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-align: center;
}

#table-of-contents {
    border: 2px black dashed;
    height: fit-content;

}
#TOC {
    font-weight: bold;
    font-size: larger;
    text-align: center;
}
.toc-con {
    margin: 8%;
}
#content {
    text-align: center;
}
#wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-gap: 20px;
}